*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.flickity-button {
  background-color: #4ad9bd;
  border-radius: 0;
}

.flickity-prev-next-button:hover {
  background: #4ad9bd;
}

.flickity-prev-next-button {
  width: 44px;
  height: 44px;
}

.flickity-prev-next-button svg {
  left: 30%;
  top: 30%;
  width: 40%;
  height: 40%;
}

.flickity-button-icon .arrow {
  fill: #fff;
}

.flickity-button:disabled {
  opacity: 0.3;
}

.input-range__track--active {
  background: #4ad9bd !important;
}

.input-range__slider {
  width: 36px !important;
  height: 36px !important;
  background: url('./components/Main/assets/slider-knob.svg') !important;
  border: none !important;
  margin-left: -18px !important;
  margin-top: -18px !important;
}

.input-range__slider:active {
  transform: none !important;
}

.input-range__label--value {
  display: none;
}

.input-range__label--min,
.input-range__label--max {
  display: none;
}
